<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Student Affairs</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" /> 

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/students" Match="NavLinkMatch.All">
                Students
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/email/Academic">
                Academic Email
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/transfer_service">
                Transfer Service
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/results">
                Course Results
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/activities">
                Student Activities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/schedule">
                School Schedule
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/medical">
                Medical Services
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/military">
                Military Education
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/servey">
                Survey
            </NavLink>
        </div>

    </nav>
</div>

