@page "/accordion"

<PageTitle>Accordion</PageTitle>

<h3 class="mb-5">Accordion</h3>
<div class="mb-5">
    <h4 class="mb-3">Default Accordion</h4>
    <Accordion />
</div>
<div class="mb-5">
    <h4 class="mb-3">Custom Accordion</h4>
    <Accordion accordionData=@accordion1/>
</div>

