@namespace StudentAffairs

<div id="@carouselName" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-wrap="true"
    data-bs-interval="6000" data-bs-pause="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#@carouselName" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#@carouselName" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#@carouselName" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/id/1077/1920/1080" class="d-block w-100" alt="Slide1">
            <div class="carousel-caption d-none d-md-block">
                <h5>Announcement 1</h5>
                <p>Details about the first announcement go here.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/id/1033/1920/1080" class="d-block w-100" alt="Slide2">
            <div class="carousel-caption d-none d-md-block">
                <h5>Announcement 2</h5>
                <p>Details about the second announcement go here.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/id/1011/1920/1080" class="d-block w-100" alt="Slide3">
            <div class="carousel-caption d-none d-md-block">
                <h5>Announcement 3</h5>
                <p>Details about the third announcement go here.</p>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#@carouselName" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#@carouselName" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
