@page "/events"
@namespace StudentAffairs

<PageTitle>Events & Activities</PageTitle>

<div class="m-5">
    <div class="jumbotron">
        <h1 class="display-4">Events & Activities</h1>
        <p class="lead">Stay updated with the latest events and activities happening on campus.</p>
    </div>

    <div class="mt-5">
        <h2 class="mt-3">Upcoming Events</h2>
        <ul class="list-group">
            <li class="list-group-item text-white">
                <h4>Career Fair</h4>
                <p>Date: August 15, 2024</p>
                <p>Location: Main Auditorium</p>
                <p>Join us for a career fair where various companies will be recruiting for internships and full-time positions.</p>
            </li>
            <li class="list-group-item text-white">
                <h4>Health and Wellness Workshop</h4>
                <p>Date: September 5, 2024</p>
                <p>Location: Room 101, Health Center</p>
                <p>Attend our workshop to learn more about maintaining a healthy lifestyle and managing stress.</p>
            </li>
            <li class="list-group-item text-white">
                <h4>Spring Festival</h4>
                <p>Date: April 10, 2024</p>
                <p>Location: Campus Grounds</p>
                <p>Celebrate the arrival of spring with a day full of fun activities, food stalls, and live music.</p>
            </li>
        </ul>

        <h2 class="mt-5">Past Events</h2>
        <ul class="list-group">
            <li class="list-group-item text-white">
                <h4>Welcome Week</h4>
                <p>Date: January 8-12, 2024</p>
                <p>Location: Various Locations</p>
                <p>A week of activities to welcome new students to campus and help them get acclimated.</p>
            </li>
            <li class="list-group-item text-white">
                <h4>International Student Day</h4>
                <p>Date: November 20, 2023</p>
                <p>Location: International Center</p>
                <p>A celebration of the diverse cultures represented on our campus with food, performances, and more.</p>
            </li>
        </ul>
    </div>
</div>
