@page "/"
@namespace StudentAffairs
@inject IStringLocalizer<Resource> _localizer

<PageTitle>Home</PageTitle>

<div class="m-5">
    <div class="jumbotron">
        <h1 class="display-4">@_localizer["Home-Title"]</h1>
        <p class="lead">@_localizer["Home-SubTitle"]</p>
    </div>

    <Carousel />

    <div class="mt-5">
        <h2>Overview of the Student Affairs System</h2>
        <p>
            The Student Affairs System is dedicated to supporting students in their academic and personal
            development.
            We offer a range of services including counseling, career advice, health and wellness resources,
            and much more.
        </p>

        <h2>Introduction to Services Offered</h2>
        <p>
            Our services are designed to help students succeed both academically and personally. We provide:
        </p>
        <ul>
            <li>Counseling services to support mental health and well-being</li>
            <li>Career services to help students prepare for their future careers</li>
            <li>Health and wellness resources to maintain a healthy lifestyle</li>
            <li>Various events and activities to enhance the student experience</li>
        </ul>
    </div>
</div>
